.music__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.music {
    margin: 30px;
    width: 100%;
    height: 70px;
    border-radius: 15px;
}

.music__title {
    color: white;
}